@import "../globals.scss";

.o-btn-dark {
    width: 50%;
    height: 2.8rem;
    border: none;
  background-color: $btnMainColor;
  color: $btnSecundaryColor;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-family: $fuente;
  &:hover {
    background-color: $btnSecundaryColor;
    color: $btnMainColor;
    border: 1px solid $btnMainColor ;
  }
}

.o-btn-light {
    width: 50%;
    height: 2.8rem;
    border: none;
  background-color: $btnSecundaryColor;
  color: $btnMainColor;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-family: $fuente;
  &:hover {
    background-color: $btnSecundaryColor;
    color: $btnMainColor;
    border: 1px solid $btnMainColor ;
  }
}
