@import "../globals.scss";

.o-title-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid $btnMainColor;
  margin: 2rem 0;
  width: 75%;
  p{
    margin:0.5rem 0;
    font-family: $fuente;
    color: #C5C4C3;
    font-size: 0.8rem;
  }
  h2{
    margin:0.5rem 0;
    font-family: $fuente;
  }

  .o-price-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    h3{
        margin:0.5rem 1rem 0 0;
        font-family: $fuente;
    }
    p{
        margin:0.5rem 1rem 0 0;
        font-family: $fuente; 
        color: #C5C4C3; 
    }
  }
}
